body {
    /*color: #7159c1*/
    font-family: Roboto, sans-serif;
    /*background-color: #1b1a1f;*/
    /*background-color: #f51d46;*/
    background-color: #ebebeb;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0 0;
    color: #333;
}

p, h2, h3, h1, span, input, label {
    color: #333;
}

.main-container {
    min-height: 100vh;
    height: 100%;
    padding-bottom: 5rem;
    margin-bottom: 0;
}

#logo_marketplace {
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*color: #333;*/
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: white;
    border-radius: 40px;
}

.navbar {
    background-color: #fff058;
    height: 100px;
    width: 100%;
}

.active > a {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.nav-link {
    font-size: 14px;
    cursor: pointer;
    color: rgba(51,51,51,.6);
}

.nav-link:hover {
    color: #333;
}

.ul-home-visitante {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ul-botao-registrar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-usuario {
    display: flex;
    align-items: center;
}

.btn-sair {
    display: flex;
    align-items: center;
}

.ul-infos-right-side {
    display: flex;
    align-items: center;
}
