/*Alinha os botoes das opções no centro*/
.btn-options {
    justify-content: center;
}

.btn-create {
    background-color: #3483fa;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    box-shadow: 10px 5px 5px #c1c1c1;
}

.btn-create:hover {
    background-color: #3483fa;
    color: #fff;
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -1px) scale(1.01);
}

.btn-delete {
    text-transform: capitalize;
    margin-left: 1rem;
    color: #3483fa;
    transition: all ease-in-out 300ms;
}

.btn-delete:hover {
    color: #3483fa;
    transform: translate(0px, -1px) scale(1.01);
}

.btn-edit {
    text-transform: capitalize;
    margin-left: 1rem;
    color: #3483fa;
    transition: all ease-in-out 300ms;
}

.btn-edit:hover {
    color: #3483fa;
    transform: translate(0px, -1px) scale(1.01);
}

.btn-detalhes {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 14px;
    margin: auto 25%;
}

.btn-detalhes:hover {
    background-color: #007bff;
    color: #ffffff;
}

.btn-comprar {
    background-color: #007bff;
    color: #ffffff;
    opacity: 0.8;
    transition: all ease-in-out 300ms;
    font-weight: bold;
    font-size: 26px;
}

.btn-comprar:hover {
    color: #ffffff;
    opacity: 1;
}

.btn-adicionar-carrinho {
    color: #3483fa;
    background-color: rgba(65,137,230,.15);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 24px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    opacity: 0.9;
}

.btn-adicionar-carrinho:hover {
    color: #3483fa;
    opacity: 1;
}

.alinhar-icones {
    display: flex;
    align-items: baseline;
}

.btn-confirmar-compra {
    background-color: #007bff;
    color: #ffffff;
    opacity: 0.8;
    transition: all ease-in-out 300ms;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    padding: 0 24px;
    height: 48px;
}

.btn-confirmar-compra:hover {
    color: #ffffff;
    opacity: 1;
}

.btn-desistir-compra {
    color: #3483fa;
    background-color: rgba(65,137,230,.15);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 24px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    opacity: 0.8;
}

.btn-desistir-compra:hover {
    color: #3483fa;
    opacity: 1;
}
