.form-customized {
    /*border: 0.1px solid black;*/
    border-radius: 6px;
    /*box-shadow: 10px 5px 5px black;*/
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    padding: 3rem;
    text-color: #333;
    background-color: #fff;
}

.form-imput-customized {
    border: 0;
    outline: none;
    background: none;
    width: 100%;
    border-bottom: 2px solid #c1c1c1;
    padding: 0 0 .5rem .5em;
    transition: all .25s;
    text-transform: uppercase;
    font-size: 11px;
}

.form-imput-customized::placeholder {
    font-size: 14px;
    text-transform: capitalize;
}

.form-imput-customized:focus {
    border-color: #3483fa;
    text-transform: uppercase;
}

.form-textarea-customized {
    color: #333;
    outline: none;
    background: none;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #c1c1c1;
    padding: 0 0 .5rem .5em;
    transition: all .25s;
    text-transform: uppercase;
}

.form-textarea-customized::placeholder {
    color: #333;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 0 .5rem .5em;
}

.form-textarea-customized:focus {
    border-color: #3483fa;
    text-transform: uppercase;
    padding: 0 0 .5rem .5em;
}

.logo-stores {
    width: 100px;
    max-width: 100px;
    border-radius: 50px;
}
